<%- include('header') %>
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1>Privacy Policy</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <p class="text-light mt-4">
       <b> March 20, 2024 was the last update.</b> <br />
       <li> When using our service, your information is collected, used, and
        disclosed in accordance with our policies and practices, which are
        outlined in this privacy policy. It also tells you about the legal
        protections for your privacy rights.</li>  
        Your personal information is used by us to improve and provide the
        Service. You consent to the collection and use of your information as
        specified in this Privacy Policy by using the Service.
        <br />
        <b>
          INTERPRETATION AND DEFINITIONS: <br />
          INTERPRETATION:
        </b>
        <br />
        <li></li>The following criteria determine the meanings of the words whose first
        letter is capitalized. The meaning of the following definitions will
        remain the same whether they are used in the singular or plural.
        <br />
        <b>DEFINITIONS</b>
        <br />
        <li></li>In the context of this privacy statement: <br>
       <b>Account</b>   <li></li>refers to a special
        account that You have created in order to use our service or certain
        portions of it. A "control" is owning 50% or more of the shares, equity
        interest, or other securities that are eligible to vote for the election
        of directors or other management authorities. <br> <b>An Affiliate</b> <li></li> is a company
        that controls, is controlled by, or is under joint control with a party.
        The company apex Truckers, Madison Avenue, Indianapolis, IN 46227 is
        referred to in this agreement as "the Company," "We," "Us," or "Our."
        Among their many purposes, cookies are little files that a website puts
        on your computer, mobile device, or any other device. Among their many
        uses, they hold information about your past online surfing. <li></li> The
        state in question is Indiana, USA. <li></li> Device refers to any device—such as a
        computer, smartphone, or tablet—that is capable of accessing the
        Service. Any information pertaining to a specific, identifiable person
        is considered personal data. <li></li> "Service" means this website. Any
        individual or entity who handles data processing on behalf of the
        company is referred to as a service provider. It refers to other
        businesses or people that the company hires to facilitate the service,
        offer it on the company's behalf, carry out related tasks, or help the
        company analyze how the service is used.<li></li> The term "usage data" describes
        information that is automatically gathered from the service
        infrastructure or from users of the service. <li></li> Apex Truckers is the
        website that can be accessed at https://apextruckers.com. <li></li>You refer to
        the person using the service, the business, or another legal entity that
        the person using the service is acting on behalf of, as appropriate. <br>
        <b> GETTING AND USING YOUR PERSONAL DATA</b>  <li></li> Sorts of Information Gathered
        Personal Information We may request specific personally identifiable
        information from You while you use Our Service so that We can get in
        touch with or identify You. Information that is personally identifiable
        may comprise, but is not restricted to: Email address Both first and
        last names Telephone number Utilization Information <br> <b>Usage Data</b> <li></li> When
        utilizing the Service, use data is automatically gathered. The Internet
        Protocol address (IP address) of Your Device, the type and version of
        your browser, the pages of our service that You view, the time and date
        of Your visit, the amount of time you spend on those pages, unique
        device identifiers, and other diagnostic data are examples of the types
        of information that may be included in Usage Data. We may automatically
        gather certain information when You access the Service via a mobile
        device. This information may include, but is not limited to, the kind of
        mobile device you use, its unique ID, its IP address, its operating
        system, the kind of mobile Internet browser you use, and other
        diagnostic data.We may also collect information that Your browser sends
        whenever You visit our Service or when You access the Service by or
        through a mobile device. <br> <b>Cookies and Tracking Technologies</b> <br> We track
        user behavior on Our Service and retain certain data using Cookies and
        other tracking technologies. Beacons, tags, and scripts are examples of
        tracking technologies that are used to gather and monitor data in order
        to enhance and evaluate Our Service. Among the technologies We might
        employ are  either browser cookies or cookies. <li></li> A little file called a
        cookie is stored on your device. You can set your browser to notify you
        when a cookie is being sent or to reject all cookies. On the other hand,
        You might not be able to utilize certain sections of our Service if You
        reject Cookies. Our Service may use cookies unless you have changed your
        browser's settings to reject cookies. <li></li> Web beacons. Web beacons,
        also known as clear gifs, pixel tags, and single-pixel gifs, are tiny
        electronic files that are sometimes included in email messages and
        certain parts of our service. They allow the company to track user
        activity on those pages, count the number of people who have visited
        those pages, and gather other website-related data (like tracking how
        popular a particular section is and ensuring system and server
        integrity). Cookies may be classified as "Persistent" or "Session."
        Session cookies are erased as soon as your web browser is closed,
        whereas persistent cookies stay on your desktop or mobile device when
        you are offline. For the following reasons, we utilize both session and
        persistent cookies <b>Essential / Required Cookies</b>  <br> Kind: Temporary
        Cookies <br> Managed by: Us  <br>Goals: These Cookies are necessary for You to be
        able to access some of the Website's features and for You to receive
        services through it. They aid in user authentication and guard against
        unauthorized usage of user accounts. The services You have requested
        cannot be delivered without these Cookies, and We only use these Cookies
        in order to fulfill Your request. <br> <b> Acceptance of Cookies Notice and
            Policy</b> <br> Kind: Long-Term Cookies <br> Managed by: Us <br> These cookies are used to
        determine whether users have consented to the website using cookies.
         Cookies for functionality  <br> Long-Term Cookies Managed by: Us 
        The goal of these cookies is to help us remember decisions You make when
        using the website, like your preferred language or login information.
        These Cookies are meant to make your experience on the website more
        tailored to you and to save you from having to re-enter your settings
        each time you visit. Please see our Cookies Policy or the Cookies part
        of our Privacy Policy for additional details about the cookies we use
        and your options. <br>  <b>HOW YOUR PERSONAL DATA IS USED</b>  <br>The following uses
        of personal data by the Company are possible to deliver and maintain
        our service, which includes keeping an eye on how it is being used. To
        handle Your Account To handle Your Service user registration. You may
        be able to access various Service capabilities as a registered user with
        the help of the Personal Data you submit. Regarding the execution of a
        contract the creation, observance, and execution of the purchase
        agreement for the goods, products, or services You have acquired, as
        well as any other agreements You may have with Us via the Service. 
       <br> To contact  When it is necessary or reasonable for their
        implementation, to contact You by email, phone, SMS, or other comparable
        forms of electronic communication, such as push notifications on a
        mobile application about updates or informative communications about the
        features, goods, or services you have contracted for, including security
        updates. Unless you have chosen not to receive such information, we may
        use your information to send you news, promotions, and general details
        about other products, services, and events that we offer and that are
        comparable to those that you have already bought or inquired about. <br> <li></li>To
        handle Your inquiries: to respond to and oversee Your demands made of
        Us. Reorganization, dissolution, merger, divestiture,
        restructuring, reorganization, sale, or other transfer of some or all of
        Our assets, whether as a going concern or as part of bankruptcy,
        liquidation, or similar proceedings, in which Personal Data held by Us
        about our Service users is among the assets transferred, may involve the
        use of Your information. For more uses: We might employ Your information
        for additional uses, like data analysis, spotting usage patterns,
        gauging the success of our marketing initiatives, and assessing and
        enhancing our services, goods, and marketing in general. We might
        divulge Your personal data in the subsequent circumstances <br> <li></li> With
        Service Providers: In order to contact You and to track and analyze how
        our service is being used, we may disclose Your personal information to
        Service Providers <li></li>For business transfers: In the course of negotiating
        or in conjunction with a merger, the sale of company assets, financing,
        or the acquisition of all or a portion of Our business by another
        entity, We may share or transfer Your personal information. <li></li> With
        Affiliates: In the event that we disclose Your information to one of our
        affiliates, we will demand that they abide by this privacy policy. Our
        parent company, any further subsidiaries, joint venture partners, and
        any other businesses that We control or that share control with Us are
        considered affiliates. <li></li> With business partners: In order to provide
        You with certain goods, services, or promotions, We may disclose Your
        information to Our business partners. <li></li> With other users: Any personal
        information you exchange or otherwise deal with other users in public
        places could be seen by all users and could even be shared publically
        outside. With Your consent: If you give us permission, we may use your
        personal information for any other reason. <br> <b>STORAGE OF YOUR
            INDIVIDUAL DATA</b> <br> Your Personal Data will only be kept by the Company for
        the duration required to fulfill the objectives outlined in this Privacy
        Policy. To the extent required to fulfill our legal duties (for
        instance, if we must keep your data on file to abide by applicable
        laws), settle disputes, and uphold our legal agreements and policies, we
        will keep and utilize Your Personal Data. Additionally, Usage Data will
        be kept by the Company for internal analysis. Generally speaking, usage
        data is only kept for a limited amount of time, unless it is needed to
        bolster the security or enhance the performance of Our Service, or
        unless We are required by law to keep it longer. <br> <b>CHANGE OF YOUR
            INDIVIDUAL DATA</b> <br> The Company processes your information, including
        Personal Data, at its operating offices and any other locations where
        the parties engaged in the processing have their offices. This implies
        that this data may be moved to and kept on computers situated outside of
        Your nation, state, or other governmental jurisdiction, where the
        regulations governing data protection may be different from those in
        Your jurisdiction. Your agreement to the transfer is shown by your
        acceptance of this privacy policy and your submission of such
        information. The Company shall take all reasonably required actions to
        guarantee that Your data is handled securely and in compliance with this
        Privacy Policy, and that Your Personal Data is not transferred to any
        other entity or nation. <br> <b>EXPORT YOUR PERSONAL INFO</b> <br>You possess the
        entitlement to expunge or solicit Our assistance in expunging the
        Personal Data that We have gathered concerning You. You might be able to
        remove certain information about yourself from the Service using our
        service. By logging into Your Account, if you have one, and going to the
        account settings section where you can manage Your personal information,
        you can edit, amend, or delete Your information at any time. You can
        also get in touch with us to ask to see, update, or remove any personal
        data you've given us. Please be aware, though, that in cases where we
        are required by law or have a legitimate reason to do so, we might need
        to keep certain information. <br>  <b>Revealing your personal information in
            business transactions</b> <br>Your Personal Data could be transferred if the
        Company is involved in a merger, acquisition, or asset sale. Before Your
        Personal Data is moved and is covered by a new privacy policy, we will
        notify you. Law enforcement The Company may be compelled by law to
        reveal Your Personal Data in specific situations, or in response to
        legitimate requests made by public authorities (such as a court or
        government agency). <br> <b>Additional legal prerequisites Your Personal
            Data</b> it may be disclosed by the Company if it believes in good faith that
        doing so is required to: Fulfill a legal requirement Defend and
        safeguard the company's property and rights. Prevent or look into any
        misconduct related to the Service Ensure the public's or service users'
        personal safety Defend against legal responsibility 4:01 PRIVACY OF YOUR
        PERSONAL INFORMATION Although We care about the security of Your
        Personal Data, keep in mind that no method of electronic data
        transmission over the Internet or technique of electronic data storage
        is 100% safe. We make every effort to safeguard Your Personal Data using
        methods that are financially feasible, but we are unable to ensure
        complete security.
        <br> <b>PRIVACY OF CHILDREN </b> <br>No one under the age of
        thirteen is addressed by our service. We do not knowingly ask anyone
        younger than 13 for personally identifying information. Please get in
        touch with Us if you are a parent or guardian and You know that Your
        child has given Us Personal Data. We take action to delete Personal Data
        from Our servers if We learn that We have obtained it from anybody under
        the age of 13 without first obtaining parental consent. We may need your
        parent's approval before collecting and using Your information if We
        must depend on consent as a legal basis for processing it and Your
        nation demands consent from a parent. <br> <b>HYPERLINKS ABOARD SECTION</b> <br>
        There may be links within Our Service to external websites that are not
        run by Us. A third party's website will be displayed if you click on one
        of their links. We strongly suggest that you go over each website's
        privacy statement. The content, privacy practices, and policies of any
        third-party websites or services are beyond our control and
        responsibility. <br> <b>UPDATES TO THIS PRIVACY STATEMENT We might
        occasionally make changes to Our Privacy Policy. Any modifications will
        be communicated to You by posting the updated Privacy Policy on this
        page. Before the change takes effect, We will notify You by email and/or
        by posting a conspicuous notice on Our Service. We will also update the
        "Last updated" date at the top of this Privacy Policy. It is recommended
        that you routinely check this Privacy Policy for updates. Any
        modifications to this privacy statement take effect immediately upon
        posting on this website. 4:04 CONTACT US If you have any questions about
        this Privacy Policy, You can contact us: By email: info@apextruckers.com
        By visiting this page on our website:
        https://apextruckers.com/contact-us
      </p>
    </div>
  </div>
</div>
<%- include('footer') %>
